.banner-section {
  background-color: #dc3545;
  padding: 45px 5px;
}

.col-6 {
  width: 49.5% !important;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner-text-field {
  background-color: #dc3545;
  padding: 45px 5px 20px 5px;
  color: #ffffff;
}
